---
title: Welcome to Middleman
---

<div class="pin">
  <span class="direction"></span>
</div>

<div class="circle">65 %<b>Power</b></div>
<div class="circle2">35 %<b>Shields</b></div>

<div class="stage">
  <div class="cube">
    <figure class="back"></figure>
    <figure class="top"></figure>
    <figure class="bottom"></figure>
    <figure class="left"></figure>
    <figure class="right"></figure>
    <figure class="front"></figure>
  </div>
</div>

<div class="x-coord">
  <span class="pointer"></span>
</div>

<div class="y-coord">
  <span class="pointer"></span>
</div>
